@model nxPinterest.Services.Models.Request.ChangePasswordRequest
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="content">
    <div class="card certification-card">
        <div class="card-body">
            <div class="form-text text-danger">
                @if (TempData["custom-validation-message"] != null)
                {
                    <span>@TempData["custom-validation-message"]</span>
                }
            </div>
            <div class="form-text text-success">
                @if (TempData["custom-validation-success-message"] != null)
                {
                    <span>@TempData["custom-validation-success-message"]</span>
                }
            </div>
            <form class="certification text-color-white" method="post" asp-action="ChangePasswordConfirm" asp-controller="Account">
                <input type="password" class="form-control input-control current-password" asp-for="CurrentPassword" placeholder="現在のパスワード" />
                <div class="form-text text-danger">
                    @Html.ValidationMessageFor(c => c.CurrentPassword)
                </div>
                <input type="password" class="form-control input-control new-password" asp-for="NewPassword" placeholder="新しいパスワード" />
                <div class="form-text text-danger">
                    @Html.ValidationMessageFor(c => c.NewPassword)
                </div>
                <input type="password" class="form-control input-control confirm-password" asp-for="ConfirmPassword" placeholder="新しいパスワードの確認" />
                <div class="form-text text-danger">
                    @Html.ValidationMessageFor(c => c.ConfirmPassword)
                </div>
                <input type="submit" value="パスワード変更" class="btn btn-default btn-submit" />
                @if(@ViewBag.UserRole == "SysAdmin")
                {
                    <a class="text-color-default" href="@Url.Action("UserContainerIdList", "account")">
                        <h5><span>ユーザ一覧へ</span></h5>
                    </a>
                }
                else
                {
                    <a class="text-color-default" href="@Url.Action("Index", "Home")">
                        <h5><span>トップページへ</span></h5>
                    </a>
                }
            </form>
        </div>
    </div>
</div>