@model nxPinterest.Services.Models.Request.ForgotPasswordRequest
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="content">
    <div class="card certification-card">
        <div class="card-body">
            <div class="form-text text-danger">
                @if (TempData["custom-validation-message"] != null)
                {
                    <span>@TempData["custom-validation-message"]</span>
                }
            </div>
            <div class="form-text text-success">
                @if (TempData["custom-validation-success-message"] != null)
                {
                    <span>@TempData["custom-validation-success-message"]</span>
                }
            </div>
            <form class="certification text-color-white" method="post" asp-action="ResetPassword" asp-controller="Account">
                <input type="email" required class="form-control input-control useremail" asp-for="Email" placeholder="メールアドレス" />
                <div class="form-text text-danger">
                    @Html.ValidationMessageFor(c => c.Email)
                </div>
@*                <input type="password" class="form-control input-control current-password" asp-for="CurrentPassword" placeholder="現在のパスワード" />
                <div class="form-text text-danger">
                    @Html.ValidationMessageFor(c => c.CurrentPassword)
                </div>*@
@*                <input type="password" class="form-control input-control new-password" asp-for="NewPassword" placeholder="新しいパスワード" />
                <div class="form-text text-danger">
                    @Html.ValidationMessageFor(c => c.NewPassword)
                </div>
                <input type="password" class="form-control input-control confirm-password" asp-for="ConfirmPassword" placeholder="新しいパスワードの確認" />
                <div class="form-text text-danger">
                    @Html.ValidationMessageFor(c => c.ConfirmPassword)
                </div>*@
                <input type="submit" value="パスワードリセット" class="btn btn-default btn-submit" />
                <a class="text-color-default" href="/account/certification">
                    <h5>ログインへ</h5>
                </a>
            </form>
        </div>
    </div>
</div>