@model nxPinterest.Services.Models.Request.UserContainerRegistrationRequest
@{
    ViewData["Title"] = "コンテナ登録";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light" style="background-color: #fff !important;">NANASHOI</div>
            <div class="list-group list-group-flush" style="background-color: #e9e9e9 !important;">
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("UserContainerIdList", "account")">
                    <i class="bi bi-person-fill"></i>&nbsp;<span></span>ユーザ一覧
                </a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="@Url.Action("UserContainerList", "account")" style='color:#0d6efd;font-weight:bold;'>
                    <i class="bi bi-bank"></i>&nbsp;<span></span>コンテナ一覧
                </a>
            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom nav-bar-style">
                <div class="" style="margin-left: 25px;">
                    <h4>コンテナ登録</h4>
                </div>
                <div class="" style="position:absolute; right:70px;top:20%;">
                   @*<div class="dropdown">
                        <i class="bi bi-person-circle"></i>
                        <i class="bi bi-chevron-down"></i>
                        <div class="dropdown-content">
                            <a href="@Url.Action("ChangePassword", "account")">パスワード変更</a>
                            <a href="@Url.Action("LogOut", "account")">ログアウト</a>
                        </div>
                    </div>*@
                     @*編集機能 20220527_ssa*@
                    <div class="dropdown">
                        <i class="bi bi-person-circle"></i>
                            @{
                                if(@ViewBag.UserDispName == null || @ViewBag.UserDispName.Trim() == "")
                                {
                                   <span style="padding-left:5px;padding-right:60px"></span>
                                }
                                else
                                {
                                    <span style="padding-left:5px;padding-right:10px">@ViewBag.UserDispName</span>
                                }
                            }
                        <i class="bi bi-chevron-down"></i>
                            <div class="dropdown-content">
                                <a href="@Url.Action("ChangePassword", "account")">パスワード変更</a>
                                <a href="@Url.Action("LogOut", "account")">ログアウト</a>
                            </div>
                </div>
            </nav>
            <div style="margin: 25px;">
            <div class="register-body" style="background-color: rgb(255, 255, 255);">
                <form class="p-3" method="post" asp-action="UserContainerRegister" asp-controller="account">
                    <div class="col-lg-12 row">
                        <div class="col-lg-5 col-md-12 col-sm-12 mb-3">
                            <label for="containername" style="margin-bottom: 0.5rem;color: #292121;">コンテナ名</label>
                            <input type="text" class="form-control" asp-for="container_name">
                                <div class="form-text text-danger">@Html.ValidationMessageFor(c => c.container_name)</div>
                        </div>
                    </div>
                    <div class="col-lg-12 mb-3 row">
                        <div class="col-lg-5 col-md-12 col-sm-12">
                            @*<button type="submit" class="col-4 btn btn-primary" id="btn-register">登録</button>*@
                            @*編集ボタン機能 ssa20220527*@
                             <button type="submit" class="btn btn-default btn-create userregister">登録</button>    
                        </div>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>

<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script>
</script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>