@model nxPinterest.Web.Models.ContainerListViewModel
@{
    ViewData["Title"] = "コンテナ一覧";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool hasNextPage = (Model.PageIndex < Model.TotalPages);
    bool hasPreviousPage = (Model.PageIndex > 1);

    var prevDisabled = !hasPreviousPage ? "disabled" : "";
    var nextDisabled = !hasNextPage ? "disabled" : "";
    bool hasPagination = Model.TotalRecords > nxPinterest.Services.dev_Settings.pageSize_regist;
}

<div class="content mt-3 px-5" style="padding: 30px; padding-left: 10px;">
    
    @*<button type="button" class="btn btn-primary btn-sm">
        <a class="text-color-default" href="@Url.Action("UserContainerRegister", "account")" style="text-decoration: none;color: #fff;">新規作成 </a>                       
    </button>*@
    @*編集ボタン機能 ssa20220527*@
        <button type="button" class="btn btn-default btn-create userregister">新規作成</button>    
    @*11/05/22*@
    <hr>
    <div class="form-text text-danger">
        @if (TempData["custom-validation-message"] != null)
        {
            <div class="col-lg-12 col-md-12 col-sm-12 mb-3 alert alert-danger alert-dismissible fade show" role="alert">
                <span>@TempData["custom-validation-message"]</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="background: none;border-style: none;float: right;">
                <span aria-hidden="true">&times;</span>
                </button>
            </div><br />
        }
    </div>
    <div class="form-text text-success">
        @if (TempData["custom-validation-success-message"] != null)
        {
            <div class="col-lg-12 col-md-12 col-sm-12 mb-3 alert alert-success alert-dismissible fade show" role="alert">
                <span>@TempData["custom-validation-success-message"]</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="background: none;border-style: none;float: right;">
                <span aria-hidden="true">&times;</span>
                </button>
            </div><br />
        }
    </div>
    <table class="table table-dark table-striped table-hover" style="padding: 20px; padding-left: 10px;">
        <thead>
            <tr>
                <th scope="col">コンテナ名</th>
                <th scope="col">ステータス</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var container in Model.containerList)
            {
                <tr class="userEdit">
                    <td> @container.container_name </td>
                    <td id="container_id" hidden> @container.container_id </td>
                    <td> @{if(@container.container_visibility == true) { <span>有効</span> } else {<span style="color:red;">無効</span>}} </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        if (hasPagination)
        {
            <div class="section-pagination" id="sectionPagination">
                <div style="text-align:center">
                    <span style="color:dimgrey">@Model.PageIndex / @Model.TotalPages ページ (@ViewBag.ItemCount 件)</span>
                </div>

                <a href="@Url.Action("UserContainerList", "Account", new { pageIndex = 1})" class="btn btn-secondary @prevDisabled">
                    最初
                </a>


                <a href="@Url.Action("UserContainerList", "Account", new { pageIndex = (Model.PageIndex - 1)})" class="btn btn-secondary @prevDisabled">
                    前へ
                </a>


                <a href="@Url.Action("UserContainerList", "Account", new { pageIndex = (Model.PageIndex + 1)})" class="btn btn-secondary @nextDisabled">
                    次へ
                </a>

                <a href="@Url.Action("UserContainerList", "Account", new { pageIndex = Model.TotalPages})" class="btn btn-secondary @nextDisabled">
                    最後
                </a>
            </div>
        }
    }
</div>
<script>
    $('.userEdit').on('click', function () {
        var containerIdTxt = $(this).closest('tr').find('#container_id').text();
        var url = '@Url.Action("UserContainerEdit","account")' + "?container_id=" + containerIdTxt;
        window.location = url;
    });

  
        $('.userregister').on('click', function () {
            var url = '@Url.Action("UserContainerRegister", "account")';
            window.location = url;
        });
</script>
