@model nxPinterest.Data.Models.UserMedia;

<div class="thumbnail-container">
    <a href="" data-toggle="modal" onclick="onViewUserMediaDetails('@Model.MediaId')">
        <div class="text-wrapper">
            <div class="img-title">
                <p>@Model.MediaTitle</p>
            </div>
            <div class="img-description">
                @{ 
                    string description = Model.MediaDescription;
                    if (description.Length > 150)
                        description = description.Substring(0, 150) + "...";
                }
                <p>@description</p>
            </div>

        </div>
        <div class="img-container">
            <img src="@Model.MediaUrl" />
        </div>
    </a>
</div>

<script>
    function onViewUserMediaDetails(media_id) {
        OnGetUserMediaDetails(media_id).then(function (html) {
            $('.modal-backdrop').hide();
            $("#image-viewer-modal").remove();
            $("body").append(html);
            $("#image-viewer-modal").modal('show');
        });
    }

    async function OnGetUserMediaDetails(media_id) {
        var promise = await new Promise(function (resolve, reject) {
            $.ajax({
                url: "@Url.Action("GetUserMediaDetails", "Home")",
                method: "Post",
                data: { media_id },
                success: function (sResult) {
                    resolve(sResult);
                }
            });
        });

        return promise;
    }
</script>