@using nxPinterest.Data.Models;
@model nxPinterest.Services.Models.Response.UserMediaDetailViewModel
@{
    ViewData["Title"] = "画像選択";
    Layout = "~/Views/Shared/_ImageLayout.cshtml";

	UserMediaCosmosJSON primary_image_detail = Model.UserMediaDetailCosmos;
}

<script src="~/lib/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-fileinput/js/locales/LANG.js" asp-append-version="true"></script>
<div id="image-viewer-modal" tabindex="-1">
	<div class="left-arrow-container arrow-key">
		<a href="@Url.Action("Index", "Home", new { pageIndex = 1})">
			<i class="fas fa-arrow-circle-left fa-3x"></i>
		</a>
	</div>
	<div class="modal-image-viewer" role="document">
			<div class="modal-content">
				<div class="modal-body bg-white">
					<div class="row">
						<div class="col-12  col-md-6 image-detail-col">
							<div class="content h-100">
								<div class="row">
									<div class="image-uploader-wrapper">
										<figure>
											<img src="@primary_image_detail.MediaThumbnailUrl" alt="@primary_image_detail.MediaFileName" class="main" id="main-image" style="max-height:initial!important"/>
										</figure>
									</div>
								</div>
								<div class="row">
									<div class="slider">
										<input type="radio" name="slide_switch" checked="checked" id="@primary_image_detail.MediaId" value="@primary_image_detail.MediaId"/>
									    <label for="@primary_image_detail.MediaId" style="background-image:url('@primary_image_detail.MediaThumbnailUrl');">
									        
									    </label>
									    @for (int i = 0; i < Model.UserMediaList.Count(); i++)
									    {
											var userMediaThumbnail = Model.UserMediaList[i];
									        string activeClass = userMediaThumbnail.MediaFileName.Equals(primary_image_detail.MediaFileName) ? "active" : "";
											string hide_lable = i > 13 ? "hide-lable" : "";

											@if(userMediaThumbnail.MediaId != primary_image_detail.MediaId)
											{
												<input type="radio" name="slide_switch" id="@userMediaThumbnail.MediaId" value="@userMediaThumbnail.MediaId"/>
												<label class="@hide_lable" for="@userMediaThumbnail.MediaId"  style="background-image:url('@userMediaThumbnail.MediaThumbnailUrl');">
												    
												</label>
											}
									    }
										
									</div>
									@if (Model.UserMediaList.Count() > 14) {
											<input type="button" value="全て表示" class="btn btn-default btn-save" id="show-all-btn">
										}
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6 image-detail-col">
							<div class="">
								<div class="content">
									<div class="dots-image-container">
										<a href="@Url.Action("GetUserMediaViewer", "Home", new { media_id = @primary_image_detail.MediaId })">
											<i class="fas fa-ellipsis-h fa-2x" style="color:black"></i>
										</a>
									</div>
									<h5 style="color:black;margin-left: 0%;">@primary_image_detail.MediaTitle</h5>
									<br />
									<p class="media_desc" style="color:black;margin-left: 0%;">
										@primary_image_detail.MediaDescription
									</p>
									<br />
									<p class="text-black tag-text">Project Tag</p>
									<div class="project_tags">
										@foreach (var tag in @Model.project_tags_list){
											<div style="display:inline-block;color:#fff;background-color: #343a40;padding:10px 20px 10px 20px;border-radius:3px;margin-right:7px;margin-bottom:7px;">@tag</div>
										}
									</div>

									<input hidden asp-for="@primary_image_detail.MediaId" name="MediaId" />
								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>
	</div>
			
	<div class="content gallery">
		<br />
		<h5>似ている画像</h5>
		<br/><br />
		<div class="thumbnail-container" id="thumbnail-container">
		</div>
	</div>

</div>

<script>
		function filedelete(media_id) {
			$.ajax({
				url: "@Url.Action("DeleteUserMedia", "Home", new { media_id = Model.UserMediaDetailCosmos.MediaId })",
                method: "Post",
                data: { media_id },
				processData: false,
				contentType: false,
				success: function (sResponse) {
					window.location = '@Url.Action("Index","Home")';
				}
			});
		}
	$('#show-all-btn').on('click', function() {
	    $('.slider label').removeClass('hide-lable');
	    $(this).css('display', 'none');
	});
	$('.slider input').on('click', function() {
	    var media_id = $(this).val();
		$.ajax({
	            url: "@Url.Action("GetUserMediaDetailsAjax", "Home")",
	            method: "Post",
	            data: { media_id: media_id},
	            success: function (sResult) {
	                console.log(sResult);
					$('#main-image').attr('src', sResult.userMediaDetail.mediaThumbnailUrl);
	                $('.dots-image-container a').attr('href',"/Home/GetUserMediaViewer?media_id=" + sResult.userMediaDetail.mediaId);
	                $('.image-detail-col h5').html(sResult.userMediaDetail.mediaTitle);
					$('.image-detail-col .media_desc').html(sResult.userMediaDetail.mediaDescription);
	                $('.project_tags').empty();
					$.each(sResult.project_tags_list, function(index, value) {
	                    $('.project_tags').append('<div style="display:inline-block;color:#fff;background-color: #343a40;padding:10px 20px 10px 20px;border-radius:3px;margin-right:7px;margin-bottom:7px;">'+value +'</div>');
	                });
	            }
		});
	});
	window.images= JSON.parse('@Html.Raw(@ViewBag.RelatedUserMediaList)');
    
	$(document).ready(function() {
		reloadImage();
        $(window).css('min-width',500);
        var timer = null;
        $(window).on('resize', function(){
            clearTimeout(timer); 
            timer = setTimeout(function() {
                reloadImage();
            },500);
        });
    });
    function getColNum() {
        var col_num = Math.floor($(window).width() / 264);
        return col_num;
    }
    function initCol() {
        $("#thumbnail-container").empty();
        var col_num = getColNum();
        var space = Math.floor(($(window).width() % 264)/2);
        for (var i = 1; i <= col_num; i++) {
            $('#thumbnail-container').append('<div id="column-'+i+'" class="image-col" style="position:absolute; width:264px; padding:8px;left:'+ (260 * (i - 1) + space) +'px;"></div>');
        }
    }
    
    function reloadImage() {
        initCol();
        window.images.forEach(function (data) {
            console.log(data);
            appendData(data);
        });
        
    }
    function appendData(value) {
        var newImgEl = document.createElement('img');
        newImgEl.addEventListener('load', function() {
            shortest = findShortestCol();
            shortest.append('<figure id="'+value.MediaId+'"><a href="/Home/GetUserMediaDetails?Media_id='+value.MediaId+'"><figcaption><p class="title">'+value.MediaTitle+'</p><p class="description">'+value.MediaDescription+'</p></figcaption></a></figure>');$('#'+value.MediaId+' a').append(newImgEl);
        });
        newImgEl.setAttribute('src', value.MediaThumbnailUrl);
        newImgEl.setAttribute('alt', value.MediaFileName);
    }
    function findShortestCol() {
        var count = $("#thumbnail-container").children().length;
        var shortest = $("#column-1");
        for (var i = 1; i <= count; i++) {
            if (Math.floor(shortest.height()) > Math.floor($("#column-"+ i +"").height())) {
                shortest = $("#column-" + i + "");
            }
        }
        return shortest;
    }
</script>
