@using nxPinterest.Data.Models;
@model nxPinterest.Services.Models.Response.UserMediaDetailViewModel
@{
    ViewData["Title"] = "画像選択";
    Layout = "~/Views/Shared/_ImageLayout.cshtml";

	UserMedia primary_image_detail = Model.UserMediaDetail;
}

<script src="~/lib/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-fileinput/js/locales/LANG.js" asp-append-version="true"></script>
<style>

	

.slider{
    width: 640px; /*Same as width of the large image*/
    position: relative;
    /*Instead of height we will use padding*/
    padding: 20px 0; /*That helps bring the labels down*/
}


/*Last thing remaining is to add transitions*/
.slider>img{
    position: absolute;
    left: 0; top: 0;
    transition: all 0.5s;
}

.slider input[name='slide_switch'] {
    display: none;
}

.slider label {
    /*Lets add some spacing for the thumbnails*/
    margin: 18px 0 0 18px;
    border: 3px solid #999;
    
    float: left;
    cursor: pointer;
    transition: all 0.5s;
	background-size:cover;
	background-position: center;
	width: 100px;
    height: 100px;
    
    /*Default style = low opacity*/
    opacity: 0.6;
}

.slider label img{
    display: block;
}

/*Time to add the click effects*/
.slider input[name='slide_switch']:checked+label {
    border-color: #666;
    opacity: 1;
}
/*Clicking any thumbnail now should change its opacity(style)*/
/*Time to work on the main images*/
.slider input[name='slide_switch'] ~ img {
    opacity: 0;
    transform: scale(1.1);
}
/*That hides all main images at a 110% size
On click the images will be displayed at normal size to complete the effect
*/
.slider input[name='slide_switch']:checked+label+img {
    opacity: 1;
    transform: scale(1);
}
/*Clicking on any thumbnail now should activate the image related to it*/

/*We are done :)*/
</style>
<div id="image-viewer-modal" tabindex="-1">
	<div class="left-arrow-container arrow-key">
		<a href="@Url.Action("Index", "Home", new { pageIndex = 1})">
			<i class="fas fa-arrow-circle-left fa-3x"></i>
		</a>
	</div>
	<div class="modal-dialog modal-xl modal-image-viewer" role="document">
		<form method="post" id="update-user-media-form" enctype="multipart/form-data" asp-action="DeleteUserMedia" asp-controller="Home">
			<div class="modal-content">
				<div class="modal-body bg-white">
					<div class="row">
                        <div class="slider">
                            @for (int i = 0; i < Model.UserMediaList.Count(); i++)
                            {
                                var userMediaThumbnail = Model.UserMediaList[i];
                                string activeClass = userMediaThumbnail.MediaFileName.Equals(primary_image_detail.MediaFileName) ? "active" : "";

                                                    <input type="radio" name="slide_switch" id="@userMediaThumbnail.MediaId"/>
                                                    <label for="@userMediaThumbnail.MediaId"  style="background-image:url('@userMediaThumbnail.MediaThumbnailUrl');">
                                                        
                                                    </label>
                            }
                        </div>
						<div class="col ">
							<div class="">
								<div class="content">
									<div class="dots-image-container">
										<a href="@Url.Action("GetUserMediaViewer", "Home", new { media_id = @primary_image_detail.MediaId })">
											<i class="fas fa-ellipsis-h fa-2x" style="color:black"></i>
										</a>
									</div>
									<h5 style="color:black;margin-left: 0%;">@primary_image_detail.MediaTitle</h5>
									<br />
									<p style="color:black;margin-left: 0%;">
										@primary_image_detail.MediaDescription
									</p>
									<br />
									<p class="text-black tag-text">Project Tag</p>
									<p>
										@foreach (var tag in @Model.project_tags_list){
											<div style="display:inline-block;color:#fff;background-color: #343a40;padding:10px 20px 10px 20px;border-radius:3px;margin-right:7px;margin-bottom:7px;">@tag</div>
										}
									</p>

									<input hidden asp-for="@primary_image_detail.MediaId" name="MediaId" />
								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</form>
	</div>
			
	<div class="content gallery">
		<br />
		<h5>似ている画像</h5>
		<br/><br />
		<div class="thumbnail-container">
			@foreach (nxPinterest.Data.Models.UserMedia userMedia in Model.RelatedUserMediaList)
			{
				await Html.RenderPartialAsync("/Views/Home/_HomeImageDetail.cshtml", userMedia);
			}
		</div>
	</div>

</div>

<script>
		function filedelete(media_id) {
			$.ajax({
				url: "@Url.Action("DeleteUserMedia", "Home", new { media_id = Model.UserMediaDetail.MediaId })",
                method: "Post",
                data: { media_id },
				processData: false,
				contentType: false,
				success: function (sResponse) {
					window.location = '@Url.Action("Index","Home")';
				}
			});
		}

</script>
