@using nxPinterest.Data.Models;
@model nxPinterest.Services.Models.Response.UserMediaDetailViewModel
@{
    ViewData["Title"] = "画像選択";
    Layout = "~/Views/Shared/_ImageLayout.cshtml";

	UserMediaCosmosJSON primary_image_detail = Model.UserMediaDetailCosmos;
}

<style>

    .btn-create{
        margin-left: 0;
        color: #eef2f7;
        font-size: .9rem;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        /* color: #6c757d; */
        text-align: center;
        vertical-align: middle;
        width: 100px;
        height: 50px;
    }

    .btn-default {
        background-color: #343a40;
        border: none;
        border-radius: 20px;
        position: relative;
        color: #eef2f7;
        }
     
</style>

<script src="~/lib/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-fileinput/js/locales/LANG.js" asp-append-version="true"></script>

<div id="image-viewer-modal" tabindex="-1">
	<div class="left-arrow-container arrow-key">
		<a href="@Url.Action("Index", "Home", new { pageIndex = 1})">
			<i class="fas fa-arrow-circle-left fa-3x"></i>
		</a>
	</div>
	<div class="modal-dialog modal-xl modal-image-viewer" role="document">
		<form method="post" id="update-user-media-form" enctype="multipart/form-data" asp-action="DeleteUserMedia" asp-controller="Home">
			<div class="modal-content">
				<div class="modal-body bg-white">
					<div class="row">
						<div class="col">
							<div class="content h-100">
								<div class="row" style = "margin-left: 0px;">
									<div class="image-uploader-wrapper">
										<figure>
											<img src="@primary_image_detail.MediaThumbnailUrl" alt="@primary_image_detail.MediaFileName" class="main" style="max-height:initial!important"/>
										</figure>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<div class="thumbnail-section-wrapper" style="margin-top:0!important">
												@for (int i = 0; i < Model.UserMediaCosmosList.Count(); i++)
												{
													var userMediaThumbnail = Model.UserMediaCosmosList[i];
													string activeClass = userMediaThumbnail.MediaFileName.Equals(primary_image_detail.MediaFileName) ? "active" : "";

													<div class="thumbnail-wrapper @activeClass" style="margin-left:4.5px!important">
														<a href="@Url.Action("GetUserMediaDetails", "Home", new { media_id = @userMediaThumbnail.MediaId })">
															<img src="@userMediaThumbnail.MediaThumbnailUrl" class="thumbnail" />
														</a>
													</div>
												}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="mb-2">
								<div class="content">
									<input type="text" class="form-control input-control input-title " placeholder="田代歯科医院" asp-for="UserMediaDetailCosmos.MediaTitle" name="Title" />
									<textarea rows="3" class="form-control input-control input-explanation" placeholder="ここは説明です。ここは説明です。ここは説明です。ここは説明です。ここは説明です。ここは説明です。ここは説明です。" asp-for="UserMediaDetailCosmos.MediaDescription" name="Description" ></textarea>

									<div class="tag-control-container">
										<p class="text-black tag-text">Tags</p>
										<input class="form-control text-black" data-role="tagsinput" value="@ViewBag.PorjectTags" name="ProjectTags" />
									</div>

									<input hidden asp-for="@primary_image_detail.MediaId" name="MediaId" />

									@*ssa chg-btn-20220530*@
									@*<div class="text-center">
										<input type="button" value="保存" class="btn btn-default btn-save" style="margin-left:0" id="btn-save" />
										<button type="submit" class="btn btn-lg btn-danger btn-delete" style="margin-left:0;border-radius:  1.3rem;font-size: 0.9rem"　onclick="filedelete('@primary_image_detail.MediaId');" id="btn-save">削除</button>
										<input type="button" value="削除" class="btn btn-lg btn-danger btn-delete" style="margin-left:0;border-radius:  1.3rem;font-size: 0.9rem"　onclick="filedelete('@primary_image_detail.MediaId');" id="btn-save" />
										//ssa_chg_20220527
										<a class="btn btn-lg btn-danger btn-delete" onclick="filedelete('@primary_image_detail.MediaId');" style="border-radius: 1.3rem;">
											削除
										</a>									
									</div>*@
									<div class="row">
										<input type="button" value="保存" class="btn btn-default btn-save" style="margin-right: 5px;" id="btn-save">
										<a class="btn btn-lg btn-danger btn-delete" onclick="filedelete('@primary_image_detail.MediaId');" style="border-radius: 1.3rem;font-size: 0.9rem;flex-direction: column;justify-content: center;display: flex;">
											削除
										</a>
									</div>
									@*<div class="row">
										<input type="button" value="保存" class="btn btn-default btn-save" style="/* margin-left: 2px; *//* margin-right: 50%; */margin-right: 5px;" id="btn-save">
										<a class="btn btn-lg btn-danger btn-delete" onclick="filedelete('217');" style="border-radius: 1.3rem;/* text-align: center; */mergin: 0;/* margin: 0 auto; */    
										   /* display: initial; */font-size: inherit;text-align: -moz-center;/* position: absolute; *//* bottom:   0; */justify-content: start;  flex-direction: column; /* height: 50px; *//* display: flex; */justify-content: center;display: flex;right: 20;/* margin-left: 50%; *//* margin-top: -11.5%; */">
											削除
										</a>
									</div>*@

								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</form>
	</div>
			
	<div class="content gallery">
		<br />
		<h5>似ている画像</h5>
		<br /><br />
		<div class="thumbnail-container" id="thumbnail-container">
		</div>
	</div>

</div>

<script>
	window.images= JSON.parse('@Html.Raw(@ViewBag.RelatedUserMediaList)');
    
	$(document).ready(function() {
		reloadImage();
        $(window).css('min-width',500);
        var timer = null;
        $(window).on('resize', function(){
            clearTimeout(timer); 
            timer = setTimeout(function() {
                reloadImage();
            },500);
        });
    });
    function getColNum() {
        var col_num = Math.floor($(window).width() / 264);
        return col_num;
    }
    function initCol() {
        $("#thumbnail-container").empty();
        var col_num = getColNum();
        var space = Math.floor(($(window).width() % 264)/2);
        for (var i = 1; i <= col_num; i++) {
            $('#thumbnail-container').append('<div id="column-'+i+'" class="image-col" style="position:absolute; width:264px; padding:8px;left:'+ (260 * (i - 1) + space) +'px;"></div>');
        }
    }
    
    function reloadImage() {
        initCol();
        window.images.forEach(function (data) {
            console.log(data);
            appendData(data);
        });
        
    }
    function appendData(value) {
        var newImgEl = document.createElement('img');
        newImgEl.addEventListener('load', function() {
            shortest = findShortestCol();
            shortest.append('<figure id="'+value.MediaId+'"><a href="/Home/GetUserMediaDetails?Media_id='+value.MediaId+'"><figcaption><p class="title">'+value.MediaTitle+'</p><p class="description">'+value.MediaDescription+'</p></figcaption></a></figure>');$('#'+value.MediaId+' a').append(newImgEl);
        });
        newImgEl.setAttribute('src', value.MediaThumbnailUrl);
        newImgEl.setAttribute('alt', value.MediaFileName);
    }
    function findShortestCol() {
        var count = $("#thumbnail-container").children().length;
        var shortest = $("#column-1");
        for (var i = 1; i <= count; i++) {
            if (Math.floor(shortest.height()) > Math.floor($("#column-"+ i +"").height())) {
                shortest = $("#column-" + i + "");
            }
        }
        return shortest;
    }
		//(function () {
			// function configureFileUploadControl() {
			//	var imageUrl = '@primary_image_detail.MediaUrl';

			//	$(this).fileinput({
			//		allowedFileTypes: ['image'],
			//		deleteUrl: '@Url.Action("DeleteUserMedia", "Home", new { media_id = Model.UserMediaDetailCosmos.MediaId })',
			//		initialPreviewAsData: true,
			//		overwriteInitial: true,
			//		browseOnZoneClick: true,
			//		initialPreview: [
			//			imageUrl
			//		],
			//		showUpload: false,
			//		showBrowse: false,
			//		showCaption: false,
			//		showRemove: false
			//	}).on('filedeleted', function () {
			//		window.location = '@Url.Action("Index","Home")';
			//	});
			//}

		function filedelete(media_id) {
			$.ajax({
				url: "@Url.Action("DeleteUserMedia", "Home", new { media_id = Model.UserMediaDetailCosmos.MediaId })",
                method: "Post",
                data: { media_id },
				processData: false,
				contentType: false,
				success: function (sResponse) {
					window.location = '@Url.Action("Index","Home")';
				}
			});
		}

		$('input.btn-save').on('click', function () {
			var formData = new FormData(document.querySelector('#update-user-media-form'))

			$.ajax({
				url: '@Url.Action("UploadMediaFile", "ImageManagement")',
				method: 'POST',
				data: formData,
				processData: false,
				contentType: false,
				success: function (sResponse) {
					window.location = '@Url.Action("Index","Home")';
				}
			});
		});

	@* configureFileUploadControl(); *@
	//}());
</script>
