@model ImageRegisterViewModel

<div class="modal fade" id="image-registration-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-registration " role="document">
        <div class="modal-content">
            <div class="modal-body bg-white">
                <div class="row h-100">
                    <div class="col-12 col-md-6  ">
                        <div class="boder-form-dropzone ">
                            <div class="scrollspy-example scrollbar-dropzone" data-bs-spy="scroll">
                                <!-- Dropzone Start -->
                                <form asp-action="UploadMediaFile" asp-controller="UserMedia" method="post" enctype="multipart/form-data"  class="form-horizontal dropzone h-100 " name="dropzoneForm" id="dropzoneForm">
                                    <div class="form-group form-actions">
                                        <div class="fallback "></div>
                                        <input type="file" name="Images" id="upfiles" style="display: none;" multiple/>
                                        <input type="hidden" name="Title" id="title_image" />
                                        <input type="hidden" name="Description" id="description_image" />
                                        <input type="hidden" name="ProjectTags" id="project_tags_image" />
                                        <input type="hidden" name="BtnName" id="btn_name" />
                                    </div>
                                </form>
                                <!-- Dropzone End -->
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <input type="text" class="form-control input-control input-title px-0" placeholder="写真のタイトル" asp-for="Title" />
                        <div class="form-text text-danger mt-4">
                            @Html.ValidationMessageFor(c => c.Title)\
                        </div>
                        <input type="text" class="form-control input-control input-title px-0" placeholder="説明" asp-for="Description" />
                        <div class="form-text text-danger mt-4">
                            @Html.ValidationMessageFor(c => c.Description)
                        </div>

                        <div class="tag-control-container" id="style">
                            <p class="tag-text" style="color: #adb5bd; ">タグ</p>
                            <input data-role="tagsinput" asp-for="ProjectTags" />
                            <div class="project_tags" style="margin-top:10px;">
		                        @foreach (var tag in @Model.SuggestTagsList){
			                        <div onclick=addTags("@tag") style="display:inline-block;color:#4d4d4d;background-color: #F7F7F7;padding:10px 20px 10px 20px;border-radius:3px;margin-right:7px;margin-bottom:7px;">@tag</div>
		                        }
	                        </div>
                        </div>
@*
                        <input hidden asp-for="PhotoTags" />
                        <input hidden asp-for="UserCreated" />
                        <input hidden asp-for="Uploaded" />
*@                        
                        <div class="text-center">
                            <input type="button" value="写真を投稿" class="btn btn-default btn-save" id="upload_submit" form="dropzoneForm" />
                        </div> <br>
                        <div class="text-center" style="margin-top:10px;margin-bottom:10px">
                            <input type="button" value="個別編集" id="kobetsu_submit" form="dropzoneForm" style="border-style: none; background: #fff; font-weight: bold;"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js" asp-append-version="true"></script>
<script>
    /* DropZone */
    function myParamName() {
        return "upfiles";
    }
    var imageFile = null;
    Dropzone.options.dropzoneForm = {
        paramName: myParamName,
        autoProcessQueue: false,
        uploadMultiple: true,
        init: function () {
            var myDropzone = this;
            $("#upload_submit").click(function (e) {
                this.disabled = true;

                allFiles = myDropzone.getAcceptedFiles();
                if (allFiles.length > 0) {
                    inputFiles = document.getElementById("upfiles");
                    const dt = new DataTransfer();
                    for (i = 0; i < allFiles.length; i++) {
                        dt.items.add(allFiles[i]);
                    }
                    inputFiles.files = dt.files;
                }
                e.preventDefault();
                e.stopPropagation();
                myDropzone.processQueue();

                $("#title_image").val($("#Title").val());
                $("#description_image").val($("#Description").val());
                $("#project_tags_image").val($("#ProjectTags").val());
                $("#btn_name").val("upload");
                $('#dropzoneForm').submit();
            });

            $("#kobetsu_submit").click(function (e) {
                this.disabled = true;

                allFiles = myDropzone.getAcceptedFiles();
                if (allFiles.length > 0) {
                    inputFiles = document.getElementById("upfiles");
                    const dt = new DataTransfer();
                    for (i = 0; i < allFiles.length; i++) {
                        dt.items.add(allFiles[i]);
                    }
                    inputFiles.files = dt.files;
                }
                e.preventDefault();
                e.stopPropagation();
                myDropzone.processQueue();

                $("#title_image").val($("#Title").val());
                $("#description_image").val($("#Description").val());
                $("#project_tags_image").val($("#ProjectTags").val());
                $("#btn_name").val("kobetsu");
                $('#dropzoneForm').submit();
            });
        },
        accept: function (file, done) {
            done();
        }
    };
    function addTags(value) {
        $('#ProjectTags').tagsinput('add', value);
    }
</script>