@model nxPinterest.Services.Models.Request.IndividualImageRegistrationRequests
@{
    ViewData["Title"] = "個別編集";
    Layout = "~/Views/Shared/_ImageLayout.cshtml";
}

<script src="~/js/upload_file.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-fileinput/js/fileinput.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-tagsinput/bootstrap-tagsinput.min.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-fileinput/js/locales/LANG.js" asp-append-version="true"></script>
<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<div class="left-arrow-container">
    <a href="@Url.Action("Index", "Home", new { pageIndex = 1})">
        <i class="fas fa-arrow-circle-left fa-3x"></i>
    </a>
</div>
<div class="container mt-5 bg-white" style="padding: 25px;">

    <div class="form-text text-danger">
      @if (TempData["custom-validation-message"] != null)
      {
      <div class="col-lg-12 col-md-12 col-sm-12 mb-3 alert alert-danger alert-dismissible fade show" role="alert">
        <span>@TempData["custom-validation-message"]</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="background: none;border-style: none;float: right;">
            <span aria-hidden="true">&times;</span>
        </button>
      </div><br />
      }
    </div>
    <h4>イメージ登録</h4>
    <form class="text-color-white" method="post" enctype="multipart/form-data" asp-action="UploadImageFile" asp-controller="UserMedia" name="dropzoneForm" id="dropzoneForm">
        <div class="image-upload-wrap">
            <input class="file-upload-input upload__inputfile" id="upload_file" type='file' multiple="" onchange="viewItemList();" accept="image/*" />
            <div class="drag-text">
                <i class="bi bi-card-image image-icon"></i>&nbsp;<span>ファイルをドラッグ＆ドロップするか、クリックしてファイルを選択してください。</span>
            </div>
        </div>
        <div class="row mt-3 mb-5">
            <div class="col">
                <input type="submit" value="登録" class="btn btn-primary reigster-btn" />
            </div>
@*            <div class="col d-flex justify-content-end">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">前へ</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">次へ</a></li>
                    </ul>
                </nav>
            </div>*@
            <input hidden type="text" name="imageInfoListSize" id="imageInfoListSize" value="@Model.imageInfoListSize"/>
            {@if (@Model.ImageInfoList.Count != 0)
            {
                
                @for (int i = 0; i < Model.ImageInfoList.Count(); i++)
                {
                    <div style="padding-bottom:10px;">
                        <hr style="color:#000;"/>
                    </div>
                    <div class='row'>
                        <div class='col-5'>
		                    <input hidden type="file" name="ImageInfoList[@i].Images" value="@Model.ImageInfoList[@i].Images" id="exitImage+@i"/>
                            <input hidden type="text" name="ImageInfoList[@i].imgName" value="@Model.ImageInfoList[@i].imgName" id="exitImgName+@i"/>
                            <input hidden type="text" name="ImageInfoList[@i].url" value="@Model.ImageInfoList[@i].url" id="exitUrl+@i"/>
		                    <img src='@Model.ImageInfoList[@i].url' class="img-thumbnail img-thum" alt='ホーム画像'/>
	                    </div>
	                    <div class='col-7'>
		                    <div class='tag_list_wrapper'>
			                    <input type='text' name='ImageInfoList[@i].Title' class='form-control input-control input-title px-0' placeholder='タイトル' id="exitTitle+@i"/>
			                    <input type='text' class='form-control input-control input-title px-0' placeholder='説明' name='ImageInfoList[@i].Description' id="exitDescription+@i"/>
			                    <div class='tag-control-container' id='style'>
				                    <p class='tag-text' style='color: #adb5bd; '>Project Tag</p>
				                    <input data-role='tagsinput' name='ImageInfoList[@i].ProjectTags' id="exitTags+@i"/>
			                    </div>
		                    </div>
	                    </div>
                    </div>
                 }
            }}
        </div>
    </form>
    <form class="text-color-white" method="post" enctype="multipart/form-data" asp-action="UploadImageFileHidden" asp-controller="UserMedia" name="hiddenForm" id="hiddenForm">
        <div id="item-hidden">
        </div>
    </form>
</div>
<script>
$('#hiddenForm').on('keyup keypress', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode === 13) { 
    e.preventDefault();
    return false;
  }
});
$('#dropzoneForm').on('keyup keypress', function(e) {
  var keyCode = e.keyCode || e.which;
  if (keyCode === 13) { 
    e.preventDefault();
    return false;
  }
});
</script>
