@model nxPinterest.Web.Models.HomeViewModel
@{
    ViewData["Title"] = "ホーム";

    bool hasNextPage = (Model.PageIndex < Model.TotalPages);
    bool hasPreviousPage = (Model.PageIndex > 1);

    var prevDisabled = !hasPreviousPage ? "disabled" : "";
    var nextDisabled = !hasNextPage ? "disabled" : "";
    string searchKey = Model.SearchKey;
    bool hasPagination = Model.TotalRecords > nxPinterest.Services.dev_Settings.pageSize_regist;
}


@{
    await Html.RenderPartialAsync("/Views/Shared/_ImageRegistration.cshtml", Model.ImageRegistrationRequests);
}


@{
    await Html.RenderPartialAsync("/Views/Home/_HomeImageContainer.cshtml", Model.UserMediaList);
}


@{
    await Html.RenderPartialAsync("/Views/Shared/_ImageRegistration.cshtml", Model.ImageRegistrationRequests);
}


@{
    if (hasPagination)
    {
        <div class="text-center" id="sectionPagination">
            <div>
                <span style="color:dimgrey">@Model.PageIndex / @Model.TotalPages ページ (@ViewBag.ItemCount 件)</span>
            </div>

            <a href="@Url.Action("Index", "Home", new { pageIndex = 1, searchKey})" class="btn btn-secondary @prevDisabled">
                最初
            </a>


            <a href="@Url.Action("Index", "Home", new { pageIndex = (Model.PageIndex - 1), searchKey })" class="btn btn-secondary @prevDisabled">
                前へ
            </a>


            <a href="@Url.Action("Index", "Home", new { pageIndex = (Model.PageIndex + 1), searchKey })" class="btn btn-secondary @nextDisabled">
                次へ
            </a>

            <a href="@Url.Action("Index", "Home", new { pageIndex = Model.TotalPages, searchKey })" class="btn btn-secondary @nextDisabled">
                最後
            </a>
        </div>
    }
}
